@model SalesManager.Core.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostPerKilo" class="control-label"></label>
                <input asp-for="CostPerKilo" class="form-control" />
                <span asp-validation-for="CostPerKilo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerKilo" class="control-label"></label>
                <input asp-for="PricePerKilo" class="form-control" />
                <span asp-validation-for="PricePerKilo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Over10KilosPricePerKilo" class="control-label"></label>
                <input asp-for="Over10KilosPricePerKilo" class="form-control" />
                <span asp-validation-for="Over10KilosPricePerKilo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FriendsPricePerKilo" class="control-label"></label>
                <input asp-for="FriendsPricePerKilo" class="form-control" />
                <span asp-validation-for="FriendsPricePerKilo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
