@model SalesManager.Models.SaleViewModel

<h1>Create</h1>

<h4>Sale</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sale.Client" class="control-label"></label>
                <select asp-for="Sale.ClientId" asp-items="@(new SelectList(Model.Clients, "Id", "Name"))" class="form-control">
                    <option>Please select one</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Sale.Date" class="control-label"></label>
                <input asp-for="Sale.Date" type="date" class="form-control" />
                <span asp-validation-for="Sale.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sale.DeliveryDay" class="control-label"></label>
                <input asp-for="Sale.DeliveryDay" type="date" class="form-control" />
                <span asp-validation-for="Sale.DeliveryDay" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Sale.IsPayed" /> @Html.DisplayNameFor(model => model.Sale.IsPayed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Sale.IsDelivered" /> @Html.DisplayNameFor(model => model.Sale.IsDelivered)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Sale.Comment" class="control-label"></label>
                <input asp-for="Sale.Comment" class="form-control" />
                <span asp-validation-for="Sale.Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="form-group">
                @{
                    await Html.RenderPartialAsync("~/Views/Items/Partial/PartialCreate.cshtml", Model);
                }
            </div> 
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
