@model SalesManager.Models.SaleViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sale</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="ClientId"
                        asp-items="@(new SelectList(Model.Clients,"Id","Name"))">
                    <option>Please select one</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Sale.Date" class="control-label"></label>
                <input asp-for="Sale.Date" class="form-control" />
                <span asp-validation-for="Sale.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sale.DeliveryDay" class="control-label"></label>
                <input asp-for="Sale.DeliveryDay" class="form-control" />
                <span asp-validation-for="Sale.DeliveryDay" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Sale.IsPayed" /> @Html.DisplayNameFor(model => model.Sale.IsPayed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Sale.IsDelivered" /> @Html.DisplayNameFor(model => model.Sale.IsDelivered)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Sale.Comment" class="control-label"></label>
                <input asp-for="Sale.Comment" class="form-control" />
                <span asp-validation-for="Sale.Comment" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Sale.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
